<li>
  <%= task.title  %>
  	<% unless task.deadline.nil? %>
    , to read: <%= task.deadline.strftime('%D')  %>
    <%= link_to image_tag("24px.svg", border: 0), destroy_task_path(task), method: :delete %>
    <% end %>
</li>