<div class="container">
	<p><strong  class="text-primary">Objet du mail:</strong></p>
	<h1 style="line-height: 0px;" class="text-info"><%= @email.object%></h1>
	<br /><br />
	<div class="row">
		<div class="col-8">
			<p><%= @email.body%></p>
		</div>
	</div>
</div>